<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Openfda Rfq</title>
    <meta name="description" content="Openfda Rfq">
    <link rel="stylesheet" href="css/framework_and_overrides.css" media="all"/>
    <link rel="stylesheet" href="css/jquery-ui.css" media="all"/>
    <link rel="stylesheet" media="all" href="css/style.css" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="Ua8EriT4LORP1P3DrUqZtrhfx/VpreIVH8z1TS+JszGQw87utIPYXCZ3wk2pDVpvkPwdSbBdV0RkzrT/eaRHrg==" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="js/app.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      <span class="logo-style-1">Pharma</span><span class="logo-style-2">Query</span>
</a>    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" role="navigation" >

      </ul>
    </div>
  </div>
</nav>

    </header>
    <main role="main">

       <div class="gallery">
  <div class="container">
    <div class="row">

      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-1" href="/ingredient_browser"></a>
        <p>Ingredient Browser</p>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-2" href=""></a>
        <p>Prepared Foods Index</p>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-3" href=""></a>
        <p>Generic Drug Comparison Tool</p>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-4" href=""></a>
        <p>Side-Effects Cross-Compare</p>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-5" href=""></a>
        <p>Interactants Identifier</p>
        </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-6" href=""></a>
        <p>Future Application</p>
      </div>
    </div>
  </div>

</div>

    </main>
    <footer>
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-xs-12">
         <p class="fine-print">&#8220;PharmaQuery&#8221;, &#8220;Ingredient Browser&#8221;, and other alluded titles are part of a prototype application built specifically for demonstration purposes only.</p>
         </div>
         <div class="col-sm-6  col-xs-12">
           <span id="version" class="pull-right">v.v0.5.0
</span>
         </div>
       </div>
     </div>
    </footer>
  </body>
</html>
