

<h1>FDA PharmaQuery</h1>



<%= render 'carousel' %>

<hr/>

<input id="substance">
<input type="hidden" id="substance-id">
<div class="details" style="display: none">
  <p id="substance-details">
    There are <span id="substance-count"></span> labels whose ingredients contain <span id="substance-label"></span>.
  </p>
  <p id="collection-details">
    This represents <span id="substance-percentage"></span>% of the <span id="collection-total"></span> labels in the system.
  </p>
</div>