<div class="gallery">
  <div class="container">
    <div class="row">

      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= link_to "", ingredient_browser_path, class: "widget-icon widget-1" %>
        <p>Ingredient Browser</p>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-2" href=""></a>
        <p>Prepared Foods Index</p>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-3" href=""></a>
        <p>Generic Drug Comparison Tool</p>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-4" href=""></a>
        <p>Side-Effects Cross-Compare</p>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-5" href=""></a>
        <p>Interactants Identifier</p>
        </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-6" href=""></a>
        <p>Future Application</p>
      </div>
    </div>
  </div>

</div>
