<div class="gallery">
  <div class="container">
    <div class="row">
     
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-1" href=""></a>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-2" href=""></a>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-3" href=""></a>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-4" href=""></a>
      </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-5" href=""></a>
        </div>
      <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="widget-icon widget-6" href=""></a>
      </div>
    </div>
  </div>
  
</div>